hr {
    margin: 0px;
    margin-bottom: 7px;
    padding: 0px;
}

.eventItem:hover {
    background-color: #299ead;
}

.taskItem:hover {
    background-color: #cf8150;
}

.eventItem {
    background-color: #31bacd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskItem {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #ef955d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons, .info {
    display: flex;
}

.icons {
    gap: .5rem;
    margin-right: 1rem;
}

.info {
    flex-grow: 1;
    align-items: center;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.5rem;
    flex-grow: 1;
    color: black;
}

.eventInfo p {
    margin: 0px;
    padding: 0px;
}

.strike {
    text-decoration: line-through;   
}

.info {
    float: right;
    margin-right: 2%;
    margin-top: 4px;
}

.info:hover {
    color: black
}

.edit:hover {
    color: black
}

.delete:hover {
    color: black
}

.edit {
    float: right;
    margin-right: 2%;
    margin-top: 4px;
}

.delete {
    float: right;
    margin-right: 2%;
    margin-top: 4px;
}

.check {
    height: 1rem;
    width: 1rem;
    margin: 5px;
    margin-left: 2%;
}

.label {
    margin: 5px; 
    font-size: 15px;
    font-weight: 400;
}