## [Start] Field Authorization Steps. **
#set( $isAuthorized = false )
#if( $util.authType() == "Lambda Authorization" )
  #set( $isAuthorized = true )
#end
#if( $util.authType() == "IAM Authorization" )
  #set( $adminRoles = ["us-east-2_vzZtdJ1AA_Full-access/CognitoIdentityCredentials","us-east-2_vzZtdJ1AA_Manage-only/CognitoIdentityCredentials","addUserToHouseHold-carlosdev","createNewHouseHold-carlosdev","graphQlLambdaAuthorizerc6ebb49e-carlosdev","largeproject9e7232c0PostConfirmation-carlosdev","appsynctest-carlosdev","arn:aws:iam::737064277081:role/amplify-amplifyee0a994c71-InitializeNewHouseHoldLa-1MVY2EBDXVKKM","arn:aws:iam::737064277081:user/admin-user","arn:aws:iam::737064277081:user/amplify-user","arn:aws:iam::737064277081:user/database-guy"] )
  #foreach( $adminRole in $adminRoles )
    #if( $ctx.identity.userArn.contains($adminRole) && $ctx.identity.userArn != $ctx.stash.authRole && $ctx.identity.userArn != $ctx.stash.unauthRole )
      #return($context.source.addUserToHouseHold)
    #end
  #end
$util.unauthorized()
#end
#if( $util.authType() == "User Pool Authorization" )

#end
#if( !$isAuthorized )
$util.unauthorized()
#end
$util.toJson({"version":"2018-05-29","payload":{}})
## [End] Field Authorization Steps. **