.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
  
/* Style the buttons inside the tab */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px;
  width: 150px;
}

.close {
  background-color: red;
  float: left;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px;
  width: 150px;
}
  
/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ccc;
}
  
/* Create an active/current tablink class */
.tabs button.active {
  background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
}

.genform {
  display: none;
  width: fit-content;
  position: absolute;
  left: 16%;
  right: 0;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.formBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}