.center-text
{
    height: 50%;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #6c009e;
    background-image: linear-gradient(to top, #6c009e 0%, #ffffff 60%);

}

.main-title
{
    font-size: 50px;
}

button
{
    background-color: rgb(101, 1, 148);
    color: white;
    border: none;
    font-size: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
}

.child
{
    width: 250px;
    margin: 50px;
    padding: 1px;
    display: inline-block;
    background: black;
    border-radius: 10px;
    height: 300px;
}

.wrapper1 img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.child img{
    object-fit: cover;
}

.font-main {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: rgb(126, 125, 125);
}

.font-main button {
   font-size: 30px; 
   color: white;
}

.font-bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: rgb(126, 125, 125);
}

.font-body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

#whoarewe img {
    margin-bottom: 12vh;
    margin-right: 50px;
    height: 100%;
    width: 30rem;
}

#houses img {
    border-radius: 10px;
    height: 30rem;
    width: 40rem;
}

#bodytext .font-bold {
    font-size: 40px;
}

.houseswrapper {
    display: inline-block;
}

.whoarewe {
    display: inline-block;
}