.content {
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100vh;
    border: solid;
    border-radius: 2px;
    background-color: white;
}

.middle {
    width: 60%;
    height: 100vh;
    border:solid;
    border-radius: 2px;
    border-color: aqua;
}

.right {
    width: 25%;
    height: 100vh;
    border: solid;
    border-radius: 2px;
    border-color: green;
}