.content {
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.middle {
    width: 50%;
    height: 100vh;
}

.right {
    width: 35%;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}