.content {
    display: flex;
    min-height: 100vh;
    height: 100% !important;
}

.sidebar {
    width: 15%;
    min-height: 100%;
    background-color: rgb(247, 247, 247);
}

.middle {
    width: 85%;
    height: 100% !important;
}

.full {
    width: 100%;
}
