.nav-item {
    font-size: 18px;
    font-weight: 500;
}

.navbar-brand {
    font-size: 20px;
    padding: 0px 10px 0px;
}

.navbar {
    background-color: rgb(108, 0, 158);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navbarNavAltMarkup
{
    padding: 0px 10px 0px;
}