.addTask {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addTask:hover {
    cursor: pointer;
}

.addTask p {
    margin: 0px;
    padding: 0px;
    color: purple;
    transition: all 0.50s linear;
}

.addTask-dark {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addTask-dark:hover {
    cursor: pointer;
}

.addTask-dark p {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    transition: all 0.50s linear;
}

.addingTask {
    border: solid;
    border-color: rgb(230, 227, 227);
    border-width: 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.addingTask input{
    border: none;
    outline: none;
}

.addingTask *:focus {
    outline-style: none !important;
    box-shadow: none;
}

.selections {
    display: flex;
    gap: 2rem;
    margin: .5rem .5rem .5rem;
}

.selections .childSelect {
    width: 20rem;
}

.addingTask button {
    color: white;
    margin: 2px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

#purple {
    background-color: rgb(108, 0, 158);
}

#purple:hover {
    color: white;
    background-color: rgba(58, 4, 83, 0.747);
}

.dropdown {
    position: relative;
}