.round-button {
  color: white;
  outline: none;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 0;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
} 

/* .bg2 {
  background-image: linear-gradient(to right, rgb(199, 198, 201) 3%, rgba(194, 24, 24, 0) 1%);
} */

.round-button:hover {
  background: rgb(213, 184, 255);
}

.active2 {
  background-image: linear-gradient(to left, rgb(213, 184, 255) 1.5%, rgba(194, 24, 24, 0) 1%);
}