.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100% !important;
    background-color: rgba(245, 245, 245, 0.699);
    padding: 0px;
    margin: 0px;
    transition: all 0.50s linear;
}

.households {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: black;
    transition: all 0.50s linear;
} 

.views h6 {
    margin: 0;
}

.views-dark h6 {
    margin: 0;
}

.houses {
    width: 100%;
    margin-bottom: 2rem;
    transition: all 0.50s linear;
}

.container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(85, 85, 85);
    padding: 0px;
    margin: 0px;
    transition: all 0.50s linear;
}

.households-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    transition: all 0.50s linear;
}

.houses-dark {
    width: 100%;
    margin-bottom: 2rem;
    color: white;
    transition: all 0.50s linear;
}